/* *, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */

body {
    padding: 0;
    margin: 0;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    width: 100vw;
    height: 100vh;
    /* background-color: rgb(51, 141, 177); */
    background-color: #8d6a6a;
    /* keyframes color change below */
     animation:bgChange 6s 6s alternate infinite;
    transition: all 6s ease;
}

@keyframes bgChange {
    0% {
        /* 361e53 */
       background:#745757;
    }
    /* 10741b */
    50% {
      background:#5e4747;
    }
    
    100% {
        background:#22224b;
    }
}

.container {
    position: relative;
    top: 35%;
    left: 37%;
    bottom: -50%;
    right: 0%; 
    /* margin: 30vh 0vw 0vh 34vw; */
    width: 500px;
    /* max-width: 40%; */
    height: 300px;
    z-index: 2;
    background-color: rgb(170, 80, 80);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
    overflow: auto;
}

.choice_container {
    position: relative;
    z-index: 2;
    top: 20%;
    left: 68%;
    bottom: 10%;
    right: 0%;
    width: 450px;
    max-width: 40%;
    background-color: rgb(170, 80, 80); 
    padding: 10px;
    border-radius: 5px;
    /* margin: 70vh 50px 0px 0px; */
    margin: 0px;
    box-shadow: 0 0 10px 2px;
}

.container, p {
    color: #dfcccc;
    font-family: 'Amatic SC', cursive;
    font-size: 18px;
    font-weight: 700;
}

button.btn {
    background-color: #394049;
}

.btn_grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin-top: 20px;
}

.btn {
    background-color: hsl(200, 100%, 50%);
    border: 1px solid 200, 100%, 30%;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
}

.scene_container {
    /* width: 465px; */
    max-width: 300px;
    /* height: 500px; */
    max-height: 300px;
    z-index: 0;
    position: absolute;
    top: 12%;
    left: 40%;
    bottom: 0%;
    right:  0%;
}

.scene_container, img {
    width: 400px;
    height: 320px;
    box-shadow: 0 0 10px 2px;
}

/* .sanity_bar {
    background-color: pink;
    position: relative;
    top: 24%;
    left: 80%;
    bottom: 0%;
    right: 0%;
}



.health_bar {
    background-color: red;
    position: relative;
    top: 25%;
    left: 85%;
    width: 250px;
    height: 20px;
    bottom: 0%;
    right: 0%;
    -webkit-appearance: none;
    -moz-appearance: none;
        appearance: none;
}  */


h1.game_logo {
    font-size: 40px;
    position: relative;
    /* color: darkkhaki; */
    margin: 0;
    top: 1%;
    left: 44%;
    bottom: 1%;
    right: 1%;
    -webkit-text-stroke: 1px black;
    color: rgb(189, 107, 155);
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.health_bar {
    -webkit-appearance: none;
    -moz-appearane: none;
    appearance: none;
    background: #fff;
    display: block;
    position: relative;
    top: 25%;
    left: 85%;
    width: 250px;
    height: 20px;
  }
  
  .health_bar::-webkit-progress-bar {
    background: white;
  }
  
  .health_bar::-webkit-progress-value {
    background: red;
  }
  
  .health_bar::-moz-progress-bar {
    background: red;
  }
  
  /* .health_bar::-moz-progress-value {
    background: red;
  } */

  .sanity_bar {
    -webkit-appearance: none;
    -moz-appearane: none;
    appearance: none;
    background: #fff;
    display: block;
    position: relative;
    top: 26%;
    left: 85%;
    width: 250px;
    height: 20px;
  }
  
  .sanity_bar::-webkit-progress-bar {
    background: white;
  }
  
  .sanity_bar::-webkit-progress-value {
    background: blue;
  }
  
  .sanity_bar::-moz-progress-bar {
    background: blue;
  }
  